body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(239, 246, 249) 0%,
    rgb(206, 239, 253) 90%
  );

  color: grey;
}

h1 {
  font-size: 30px;
  font-weight: 100px;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  font-size: 16px;
  font-weight: 80px;
  line-height: 19px;
  text-align: right;
}

li:first-letter {
  text-transform: capitalize;
}
a {
  text-decoration: none;
}
.day-description {
  text-align: left;
}
.date-info {
  font-size: 20px;
}
.main-app-container {
  max-width: 600px;
  margin: 30px auto;
  margin-top: 100px;
}
.app-container {
  border: 8px solid #dbd8e3;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
}

.overview {
  margin-bottom: 15px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  font-size: 16px;
}

.weather-temperature .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 20px;
}

.weather-forecast-temperature {
  font-size: 18px;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.hidden {
  display: none;
}
